* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 10px 80px 30px 80px;
    display: flex;
    flex-direction: column;
}

.hero-header {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    font-size: 24px;
}

.hero-main {
    display: flex;
    margin-bottom: 25px;
    gap: 15px;
    align-items: center;
}

.hero button {
    background-color: #3882f6;
    width: 80px;
    height: 30px;
    color: #e5e7eb;
    font-weight: 900;
    border-radius: 5px;
    margin-top: 5px;
}

.hero-mt {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 5px;
}

.hero-st, .hero-header {
    font-size: 18px;
}

.body1 {
    text-align: center;
}

.body1-container {
    display: flex;
    padding: 40px 80px;
}

.body1-container div {
    text-align: center;
}

.body2 {
    text-align: center;
    padding: 20px 80px 20px 80px;
    background-color: #e5e7eb;
}

.body2 .quote {
    font-size: 36px;
    color: #1f2937;
}

.body2 .author {
    padding-left: 550px;
}

.body3 {
    padding: 40px;
}

.body3-a {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 40px ;
}

.body3 button {
    margin-left: auto;
    height: 25px;
    width: 80px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}